<nz-switch class="paddingBot" [(ngModel)]="showTable" nzCheckedChildren="Table" nzUnCheckedChildren="Chart"></nz-switch>
<editable-table
  *ngIf="showTable"
  [title]="title"
  [columns]="columns"
  [loading]="loading"
  [data]="tableData"
  [reloadData]="reloadData"
  [editable]="false"
  [addOption]="false"
  [deleteOption]="false"
  [customAdd]="openModal"
></editable-table>
<app-invoice-chart *ngIf="!showTable"></app-invoice-chart>
<app-create-update-modal
[visible]="modalVisible"
[handleSave]="saveData"
[handleClose]="closeModal"
></app-create-update-modal>
